[submodule "onboarding-project1-team1"]
	path = onboarding-project1-team1
	url = https://github.com/AttentionX/onboarding-project1-team1.git
[submodule "onboarding-project1-team2"]
	path = onboarding-project1-team2
	url = https://github.com/AttentionX/onboarding-project1-team2.git
[submodule "onboarding-project1-team3"]
	path = onboarding-project1-team3
	url = https://github.com/AttentionX/onboarding-project1-team3.git
[submodule "onboarding-project1-team4"]
	path = onboarding-project1-team4
	url = https://github.com/AttentionX/onboarding-project1-team4.git
[submodule "onboarding-project1-team5"]
	path = onboarding-project1-team5
	url = https://github.com/AttentionX/onboarding-project1-team5.git
[submodule "onboarding-project1-team6"]
	path = onboarding-project1-team6
	url = https://github.com/AttentionX/onboarding-project1-team6.git
[submodule "onboarding-project1-team7"]
	path = onboarding-project1-team7
	url = https://github.com/AttentionX/onboarding-project1-team7.git
